<!DOCTYPE html>
<html>
<head>
    <title>ajax trial</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type=text/javascript async defer>
  $(function() {
    $('a#calculate').bind('click', function() {
      $.getJSON('http://localhost:5000/_add_numbers', {
        a: $('input[name="a"]').val(),
        b: $('input[name="b"]').val()
      }, function(data) {
        $("#result").text(data.result);
      });
      return false;
    });
  });
</script>
</head>
<body>

<h1>jQuery Example</h1>
<p><input type=text size=5 name=a> +
   <input type=text size=5 name=b> =
   <span id=result>?</span>
<p><a href="#"id=calculate>calculate server side</a>
</body>
</html>